*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
*:focus {
    outline: none;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 54px;
    height: 45px;
    cursor: pointer;
}
input[type=text]{
    height: 25%;
    width: calc(90% - 3px);
    border-bottom: 1px solid #0bc0ff;
}
input[type=button]{
    background-color: #0bc0ff;
    color: aliceblue;
    cursor: pointer;
}
input{
    height: 25%;
    width: 90%;
    border: none;
}
select{
    height: 25%;
    width: 90%;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #555;
    background-color: rgb(255, 255, 255);
    background-image: none;
}
option{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #555;
    background-color: rgb(247, 247, 247);
    background-image: none;
    font-size: 15px;
    height: 50px;
    padding: 15px;
    border: 1px solid rgb(41, 18, 18);
}
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    height: 30vh;
}
.left{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.right{
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}